.sidenav {
    background: var(--primary-color);
    transition: width .5s ease;
    width: 5rem;
    height: 100vh;
    border-top-right-radius: var(--sidenav-border-radius);
    border-bottom-right-radius: var(--sidenav-border-radius);

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 1rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
    }
}

.sidenav-extended {
    width: 15rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 55px - 32px);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:last-of-type {
        margin-top: auto;
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #000;
        }
    }
}

.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #000;
    }
}
